<div class="row">
  <div class="col-md-3">
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <span >Clients</span>
            </div>
            <div class="col-md-8">
              <a href="javascript:;"  routerLink="/company" routerLinkActive="active">
                <span >Clients</span></a>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <span >Clients</span>
            </div>
            <div class="col-md-8">
              <a href="javascript:;"  routerLink="/clients" routerLinkActive="active">
              <span >Clients</span></a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
